<template>
  <div class="Add">
    <Navigation />
    <v-main>
      <v-container fluid>
        <v-row>
          <v-col>
            <v-card>
              <v-card-title>
                Tambah Data Penyewa
              </v-card-title>
              <v-container>
                <form>
                  <v-text-field
                    v-model="name"
                    :error-messages="nameErrors"
                    label="Name"
                    required
                    @input="$v.name.$touch()"
                    @blur="$v.name.$touch()"
                  ></v-text-field>
                  <v-text-field
                    v-model="card_id"
                    :error-messages="cardIdErrors"
                    label="No KTP"
                    required
                    @input="$v.card_id.$touch()"
                    @blur="$v.card_id.$touch()"
                  ></v-text-field>
                  <v-text-field
                    v-model="address"
                    :error-messages="addressErrors"
                    label="Alamat"
                    required
                    @input="$v.address.$touch()"
                    @blur="$v.address.$touch()"
                  ></v-text-field>
                  <v-text-field
                    v-model="phone"
                    :error-messages="phoneErrors"
                    label="No Telepon"
                    required
                    @input="$v.phone.$touch()"
                    @blur="$v.phone.$touch()"
                  ></v-text-field>
                  <!-- <v-text-field
                    v-model="email"
                    :error-messages="emailErrors"
                    label="E-mail"
                    required
                    @input="$v.email.$touch()"
                    @blur="$v.email.$touch()"
                  ></v-text-field> -->
                  <!-- <v-file-input
                    id="file"
                    type="file"
                    multiple
                    show-size
                    accept="image/*"
                    label="Upload Image"
                    @change="uploadImg($event)"
                  ></v-file-input> -->
                  <input
                    id="file"
                    type="file"
                    ref="profile"
                    accept="image/*"
                    style="display:none;"
                    @change="uploadImg($event)"
                  />
                  <!-- <p style=" color: red;">{{ error }}</p> -->
                  <v-btn
                    class="gold white--text"
                    style="text-transform:capitalize;"
                    rounded
                    outlined
                    @click="$refs.profile.click()"
                    >Choose Photo</v-btn
                  >
                  <p class="mt-4 white--text">{{ Previewname }}</p>
                  <v-img
                    :src="
                      'https://www.penyewaankapal.attayasagroup.co.id/public/api/file/' +
                        photo
                    "
                    max-width="200"
                    style="margin:auto;display:block;margin-bottom:10px;margin-top:10px;"
                  ></v-img>
                  <br />
                  <v-btn class="blue mr-4" @click="submit()">submit</v-btn>
                  <v-btn @click="clear">clear</v-btn>
                </form>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <Footer />
    <!-- <AlertNotification /> -->
  </div>
</template>

<script>
import axios from "axios";
import Navigation from "@/components/layouts/Navigation";
import Footer from "@/components/layouts/Footer";
// import AlertNotification from "@/components/AlertNotification";
// import AlertAdd from "@/components/AlertAdd";
import { validationMixin } from "vuelidate";
import {
  required,
  maxLength,
  email,
  minLength
} from "vuelidate/lib/validators";
export default {
  data() {
    return {
      name: "",
      card_id: "",
      address: "",
      phone: "",
      // email: "",
      photo: "",
      Previewname: "",
      error: "",
      selectedFile: null
    };
  },
  mixins: [validationMixin],

  validations: {
    name: { required },
    card_id: { required, minLength: minLength(16), maxLength: maxLength(17) },
    address: { required },
    phone: { required, minLength: minLength(8), maxLength: maxLength(13) },
    email: { required, email }
  },
  components: {
    Navigation,
    // AlertNotification,
    Footer
  },
  methods: {
    // uploadImg(event) {
    //   let input = event.target;
    //   axios({
    //     method: "post",
    //     url:
    //       "https://www.penyewaankapal.attayasagroup.co.id/public/api/upload/",
    //     data: input.files[0]
    //   }).then(res => {
    //     this.photo = res;
    //   });
    // },
    // onFileSelected(event) {
    //   // console.log(event);
    //   this.selectedFile = event.target.files[0];
    // },
    uploadImg(event) {
      // let input = event.target.files[0];
      let input = event.target;
      let file = input.files[0];
      const bodyFormData = new FormData();
      bodyFormData.append("file", input.files[0]);
      axios({
        method: "post",
        contentType: "multipart/form-data",
        url: "https://www.penyewaankapal.attayasagroup.co.id/public/api/upload",
        data: bodyFormData
      }).then(res => {
        console.log(res.data.path);
        this.photo = res.data.path;
        this.Previewname = file.name;
      });
    },
    submit() {
      let bodyFormData = new FormData();
      bodyFormData.append("name", this.name);
      bodyFormData.append("card_id", this.card_id);
      bodyFormData.append("address", this.address);
      bodyFormData.append("phone", this.phone);
      // bodyFormData.append("email", this.email);
      bodyFormData.append("photo", this.photo);
      axios({
        method: "post",
        url: "https://www.penyewaankapal.attayasagroup.co.id/public/api/renter",
        data: bodyFormData
      }).then(res => {
        this.$swal("Create Data Successfully !", "success");
        this.$router.replace("/");
        console.log(res);
      });
      this.$v.$touch();
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.card_id = "";
      this.address = "";
      this.phone = "";
      this.email = "";
      this.photo = "";
    }
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    cardIdErrors() {
      const errors = [];
      if (!this.$v.card_id.$dirty) return errors;
      !this.$v.card_id.maxLength &&
        errors.push("Name must be at most 17 characters long");
      !this.$v.card_id.minLength &&
        errors.push("Name must be at least 16 characters long");
      !this.$v.card_id.required && errors.push("Card ID is required.");
      return errors;
    },
    addressErrors() {
      const errors = [];
      if (!this.$v.address.$dirty) return errors;
      !this.$v.address.required && errors.push("Address is required.");
      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.maxLength &&
        errors.push("Name must be at most 13 characters long");
      !this.$v.phone.minLength &&
        errors.push("Name must be at least 8 characters long");
      !this.$v.phone.required && errors.push("Phone is required.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    }
  },
  props: {
    source: String
  },

  created() {
    this.$vuetify.theme.dark = true;
  }
};
</script>

<style lang="scss">
// .action {
//   display: flex;
// }
</style>
