<template>
  <v-dialog v-model="dialog" width="400">
    <v-card>
      <v-card-title>
        Delete Data
        <v-btn
          absolute
          right
          depressed
          fab
          class="transparent white--text"
          @click="dialog = false"
        >
          <v-icon>fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <h3 class="text-center mt-4">Are you sure to delete this data?</h3>
      </v-card-text>
      <v-card-actions class="float-to-center">
        <v-btn
          rounded
          class="gold white--text capitalize"
          @click="dialog = false"
          >No</v-btn
        >
        <v-btn rounded color="red" outlined @click="processDelete()">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      dialog: false,
      item: []
    };
  },
  methods: {
    openDialog(val) {
      this.item = val;
      this.dialog = true;
    },
    processDelete() {
      const req = {
        id: this.item.id
      };
      axios({
        method: "delete",
        url:
          "https://www.penyewaankapal.attayasagroup.co.id/public/api/renter/" +
          req.id
      }).then(() => {
        this.dialog = false;
        this.$swal("Delete Data Successfully !", "success");
        this.$parent.getData();
      });
    }
  }
};
</script>
