<template>
  <div class="home">
    <Navigation />
    <v-main>
      <v-container fluid>
        <v-row>
          <v-col>
            <v-card>
              <v-card-title>
                Data Penyewa Kapal
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
              <v-data-table
                :headers="headers"
                :items="desserts"
                :loading="loadingTable"
                :search="search"
                :items-per-page="5"
                class="elevation-1"
              >
                <template v-slot:item.no="{ item }">
                  {{
                    desserts
                      .map(function(x) {
                        return x.id;
                      })
                      .indexOf(item.id) + 1
                  }}
                </template>
                <template v-slot:item.name="{ item }">{{ item.name }}</template>
                <template v-slot:item.photo="{ item }">
                  <v-img
                    :src="
                      'https://www.penyewaankapal.attayasagroup.co.id/public/api/file/' +
                        item.photo
                    "
                    max-width="200"
                    style="margin:auto;display:block;margin-bottom:10px;margin-top:10px;"
                  ></v-img>
                </template>
                <template v-slot:item.action="{ item }">
                  <v-btn
                    class="green white--text btn-action"
                    style="min-width: 36px!important; margin-bottom:10px;"
                    depressed
                    @click="$refs.update.openDialog(item)"
                  >
                    <v-icon style="font-size:16px;">fa-pen</v-icon>
                  </v-btn>
                  <v-btn
                    class="red white--text btn-action"
                    style="min-width: 36px!important;margin-bottom:10px;"
                    depressed
                    @click="$refs.delete.openDialog(item)"
                  >
                    <v-icon style="font-size:16px;">fa-trash</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <Footer />
    <Delete ref="delete" />
    <Update ref="update" />
  </div>
</template>

<script>
import axios from "axios";
import Navigation from "@/components/layouts/Navigation";
import Footer from "@/components/layouts/Footer";
import Delete from "./Delete";
import Update from "./Update";
export default {
  data() {
    return {
      search: "",
      desserts: [],
      drawer: null,
      loadingTable: false
    };
  },
  components: {
    Navigation,
    Delete,
    Update,
    Footer
  },
  methods: {
    getData() {
      this.loadingTable = true;
      axios({
        method: "get",
        url: "https://www.penyewaankapal.attayasagroup.co.id/public/api/renter"
      }).then(resp => {
        this.loadingTable = false;
        this.desserts = resp.data;
        // console.log(this.desserts);
      });
    }
  },
  computed: {
    headers() {
      return [
        {
          text: "No",
          value: "no",
          sortable: false
        },
        { text: "Name", value: "name" },
        { text: "No KTP", value: "card_id" },
        { text: "Alamat", value: "address" },
        {
          text: "Nomor Telepon",
          value: "phone",
          sortable: false
        },
        { text: "Foto", value: "photo" },
        {
          text: "Action",
          value: "action",
          align: "center",
          sortable: false
        }
      ];
    }
  },
  props: {
    source: String
  },

  created() {
    this.getData();
    this.$vuetify.theme.dark = true;
  }
};
</script>

<style lang="scss">
// .action {
//   display: flex;
// }
</style>
