<template>
  <v-dialog v-model="dialog" width="600">
    <div class="Update">
      <v-card>
        <v-card-title>
          Update Data Penyewa
          <v-btn
            absolute
            right
            depressed
            fab
            class="transparent white--text"
            @click="dialog = false"
          >
            <v-icon>fa-times</v-icon>
          </v-btn>
        </v-card-title>
        <v-container>
          <form>
            <v-text-field
              v-model="item.name"
              :error-messages="nameErrors"
              label="Name"
              required
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="item.card_id"
              :error-messages="cardIdErrors"
              label="No KTP"
              required
              @input="$v.card_id.$touch()"
              @blur="$v.card_id.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="item.address"
              :error-messages="addressErrors"
              label="Alamat"
              required
              @input="$v.address.$touch()"
              @blur="$v.address.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="item.phone"
              :error-messages="phoneErrors"
              label="No Telepon"
              required
              @input="$v.phone.$touch()"
              @blur="$v.phone.$touch()"
            ></v-text-field>
            <!-- <v-text-field
              v-model="item.email"
              :error-messages="emailErrors"
              label="E-mail"
              required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
            ></v-text-field> -->
            <input
              id="file"
              type="file"
              ref="profile"
              accept="image/*"
              style="display:none;"
              @change="uploadImg($event)"
            />
            <v-btn
              class="gold white--text"
              style="text-transform:capitalize;"
              rounded
              outlined
              @click="$refs.profile.click()"
              >Choose Photo</v-btn
            >
            <p class="mt-4 white--text">{{ Previewname }}</p>
            <v-img
              :src="
                'https://www.penyewaankapal.attayasagroup.co.id/public/api/file/' +
                  item.photo
              "
              max-width="200"
              style="margin:auto;display:block;margin-bottom:10px;margin-top:10px;"
            ></v-img>
            <br />
            <v-btn class="blue mr-4" @click="submitData()">submit</v-btn>
            <v-btn class="mr-4" @click="clear">clear</v-btn>
            <v-btn class="red" @click="dialog = false">Back</v-btn>
          </form>
        </v-container>
      </v-card>
    </div>
  </v-dialog>
</template>

<script>
import axios from "axios";
// import Navigation from "@/components/layouts/Navigation";
// import Footer from "@/components/layouts/Footer";
// import AlertAdd from "@/components/AlertAdd";
import { validationMixin } from "vuelidate";
import {
  required,
  maxLength,
  email,
  minLength
} from "vuelidate/lib/validators";
export default {
  data() {
    return {
      dialog: false,
      item: {
        name: null,
        card_id: null,
        address: null,
        phone: null,
        // email: null,
        photo: null
      },
      Previewname: ""
    };
  },
  mixins: [validationMixin],

  validations: {
    name: { required },
    card_id: { required, minLength: minLength(16), maxLength: maxLength(17) },
    address: { required },
    phone: { required, minLength: minLength(8), maxLength: maxLength(13) },
    email: { required, email }
  },
  components: {
    // Navigation,
    // Footer
  },
  methods: {
    openDialog(val) {
      this.item = val;
      this.dialog = true;
    },
    uploadImg(event) {
      // let input = event.target.files[0];
      let input = event.target;
      let file = input.files[0];
      const bodyFormData = new FormData();
      bodyFormData.append("file", input.files[0]);
      axios({
        method: "post",
        contentType: "multipart/form-data",
        url: "https://www.penyewaankapal.attayasagroup.co.id/public/api/upload",
        data: bodyFormData
      }).then(res => {
        console.log(res.data.path);
        this.item.photo = res.data.path;
        this.Previewname = file.name;
      });
    },
    // getDataProfile() {
    //   const req = {
    //     id: this.item.id
    //   };
    //   axios({
    //     method: "get",
    //     url:
    //       "https://www.penyewaankapal.attayasagroup.co.id/public/api/renter/" +
    //       req.id
    //   }).then(resp => {
    //     this.data = resp.data.data;
    //     console.log(resp);
    //   });
    // },
    submitData() {
      //   let bodyFormData = new FormData();
      //   bodyFormData.append("name", this.item.name);
      //   bodyFormData.append("card_id", this.item.card_id);
      //   bodyFormData.append("address", this.item.address);
      //   bodyFormData.append("phone", this.item.phone);
      //   //   bodyFormData.append("email", this.email);
      //   bodyFormData.append("photo", this.item.photo);
      axios
        .put(
          "https://www.penyewaankapal.attayasagroup.co.id/public/api/renter/" +
            this.item.id +
            "?name=" +
            this.item.name +
            "&card_id=" +
            this.item.card_id +
            "&address=" +
            this.item.address +
            "&phone=" +
            this.item.phone +
            "&photo=" +
            this.item.photo
        )
        .then(res => {
          console.log(res);
          this.dialog = false;
          this.$swal("Update Data Successfully !", "success");
          this.$parent.getData();
        });
      //   await axios({
      //     method: "put",
      //     contentType: "application/x-www-form-urlencoded",
      //     url:
      //       "https://www.penyewaankapal.attayasagroup.co.id/public/api/renter/" +
      //       this.item.id,
      //     data: bodyFormData
      //   }).then(res => {
      //     console.log(res);
      //     this.dialog = false;
      //     this.$parent.getData();
      //   });
      //   this.$v.$touch();
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.card_id = "";
      this.address = "";
      this.phone = "";
      //   this.email = "";
      this.photo = "";
    }
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    cardIdErrors() {
      const errors = [];
      if (!this.$v.card_id.$dirty) return errors;
      !this.$v.card_id.maxLength &&
        errors.push("Name must be at most 17 characters long");
      !this.$v.card_id.minLength &&
        errors.push("Name must be at least 16 characters long");
      !this.$v.card_id.required && errors.push("Card ID is required.");
      return errors;
    },
    addressErrors() {
      const errors = [];
      if (!this.$v.address.$dirty) return errors;
      !this.$v.address.required && errors.push("Address is required.");
      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.maxLength &&
        errors.push("Name must be at most 13 characters long");
      !this.$v.phone.minLength &&
        errors.push("Name must be at least 8 characters long");
      !this.$v.phone.required && errors.push("Phone is required.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    }
  },

  created() {
    // this.getDataProfile();
    this.$vuetify.theme.dark = true;
  }
};
</script>

<style lang="scss">
// .action {
//   display: flex;
// }
</style>
