<template>
  <v-dialog v-model="dialog" width="400">
    <v-card>
      <v-card-title>
        Alert
        <v-btn
          absolute
          right
          depressed
          fab
          class="transparent white--text"
          @click="dialog = false"
        >
          <v-icon>fa-times</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <h3 class="text-center mt-4">Create Data Successfully !</h3>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
// import axios from "axios";
export default {
  data() {
    return {
      dialog: false,
      item: []
    };
  },
  methods: {
    openDialog() {
      this.dialog = true;
    }
  }
};
</script>
